// Site colors
$primary-bg-color: #131515;
$secondary-bg-color: #242626;
$text-color: #FFF;

$primary-blue-color: #0033CE;
$secondary-blue-color: #001C72;
$tertiary-blue-color: #0066FF;
$red: #FF0000;
$purple: #9200B7;
$pink: #E0008A;
$orange: #FF6B00;
$yellow: #FFB800;
$green: #26B04B;
$gray: #CCC;

$language-bar-bg-color: #1D2126;
$language-bg-color: #191c20;